@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Poppins:wght@200;300;500&display=swap');
*{
    padding: 0;
    margin: 0;
}

.header-register{
    height: 250px;
    background-color:blue;
}
.section-form{
    text-align: center;
    margin-top: 124px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.register-title{

    font-family: 'Poppins', sans-serif;

}
.form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 79%;
}
.form-input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #cfc8c8;

}
.form-input::-moz-focus-inner{
    border: 1px solid blue;
}
.form-btn{
    background-color: #de9826!important;
    border: 1px solid #de9826!important;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    margin-top: 20px;
    width: 100%;

}
.connexion{
    text-decoration: none;
    color: blue;
}

.alert{
    color: rgb(180, 57, 57);
}

